<link rel="stylesheet" type="text/css" href="../css/styles.css" />
<script src="../js/jquery-1.11.1.js"></script>
<header class="main">
    <div class="head">
    </div>
</header>

<h1>Create New Gallery</h1>
<form method="post">
	<p> Name of Gallery 
	<input type='text' name='galName'></p>
	<p> Members
	<input id='memberEntry' type='text' name='members'></p>
	<p id="toInput"> </p>
	<p><input id='submit' type="submit"></p>
</form>

<script src='../js/test.js'></script>