<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Foto - Share Photos With Friends!</title>

		<!-- CSS Stylesheets -->
		<link rel="stylesheet" href="../css/normalize.css">
        <link rel="stylesheet" href="../css/main.css">
        <link rel="stylesheet" href="../css/styles.css">
        <!-- <script src="/build/main.js"></script> -->
	</head>
	<body>
	<header class="main">
       	<div class="head">
       	</div>
    </header>
    <div class="wrapper">
            <div class="stage">
                <div class="gallery">
                    <img src="/galleries/seedGallery/bridge.jpg" style="width:600px;height:600px0;">
            </div>
        </div>
    </div>
    <p><a href="/login">Login</a></p>    
    <p><a href="/signUp">Sign Up</a></p>
	</body>
</html>